@font-face {
  src: url(./fonts/ebgaramondregular.woff2) format("woff2"),
    url(../fonts/ebgaramondregular.woff) format("woff"),
    url(../fonts/ebgaramondregular.ttf) format("truetype"),
    url(../fonts/ebgaramondregular.eot) format("eot");
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/ebgaramondmedium.woff2) format("woff2"),
    url(../fonts/ebgaramondmedium.woff) format("woff"),
    url(../fonts/ebgaramondmedium.ttf) format("truetype"),
    url(../fonts/ebgaramondmedium.eot) format("eot");
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(../fonts/interregular.woff2) format("woff2"),
    url(../fonts/interregular.woff) format("woff"),
    url(../fonts/interregular.ttf) format("truetype"),
    url(../fonts/interregular.eot) format("eot");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/interbold.woff2) format("woff2"),
    url(../fonts/interbold.woff) format("woff"),
    url(../fonts/interbold.ttf) format("truetype"),
    url(../fonts/interbold.eot) format("eot");
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}
